<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>magic-box-beta</title>
    <link rel="shortcut icon" href="assets/favicon.ico">
    <script>
      require('../lib/service')
    </script>
  </head>
  <body>
    <div id="app"></div>
    <script src='../dist/homepage.js'></script>
    <script type="text/javascript">
      // require('../dist/homepage')
      const { remote } = window.require('electron');
       // 刷新时重启代理
      remote.app.closeProxy();
      remote.app.createServer();
    </script>
  </body>
</html>
