html body {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: white;
}

.homepage {
  color: blue;
}

#app {
  height: 100%;
  width: 100%;
}

.channel-webview {
  min-height: 832px;
  min-width: 395px;
  padding: 70px 20px 40px 20px;
  background: url('./images/iphoneX.png') 0 0 no-repeat;
  background-size: 395px 832px;
}